In [1]:
import pandas as pd
from functions.UtilsCreateDataFrame import *

In [2]:
input_folder = "H:"
output_folder = "H:"
date = "2021-01"
to_save = True
tickers = ["STPT"]

df = createDataFrame(
    input_folder=input_folder,
    date=date,
    tickers=tickers,
    frequency="1min",
    n_job=4,
    to_save=to_save,
)

In [3]:
df

                                      STPT
time
2021-01-01 00:00:59.999000+00:00  0.016670
2021-01-01 00:01:59.999000+00:00  0.016480
2021-01-01 00:02:59.999000+00:00  0.016480
2021-01-01 00:03:59.999000+00:00  0.016590
2021-01-01 00:04:59.999000+00:00  0.016590
...                                    ...
2021-01-31 23:55:59.999000+00:00  0.021580
2021-01-31 23:56:59.999000+00:00  0.021580
2021-01-31 23:57:59.999000+00:00  0.021595
2021-01-31 23:58:59.999000+00:00  0.021600
2021-01-31 23:59:59.999000+00:00  0.021600

[44640 rows x 1 columns]