In [1]:
import pandas as pd
from functions.UtilsCreateDataFrame import *

In [3]:
input_folder = "H:"
output_folder = "H:"
date = "2021-01"
to_save = True
tickers = ["BTC", "ETH"]

df = createDataFrame(
    input_folder=input_folder,
    date=date,
    tickers=tickers,
    n_job=4,
    to_save=to_save,
)

In [4]:
df

                                        BTC       ETH
time
2021-01-01 00:00:59.999000+00:00  28942.645   736.720
2021-01-01 00:01:59.999000+00:00  28985.790   737.930
2021-01-01 00:02:59.999000+00:00  28999.420   738.300
2021-01-01 00:03:59.999000+00:00  28986.185   737.585
2021-01-01 00:04:59.999000+00:00  28979.160   737.135
...                                     ...       ...
2021-01-31 23:55:59.999000+00:00  33201.585  1316.615
2021-01-31 23:56:59.999000+00:00  33159.780  1315.885
2021-01-31 23:57:59.999000+00:00  33084.920  1314.230
2021-01-31 23:58:59.999000+00:00  33078.400  1312.905
2021-01-31 23:59:59.999000+00:00  33089.435  1312.285

[44640 rows x 2 columns]