In [4]:
import pandas as pd 
import numpy as np 
from functions.LoadDataset import LoadDataset

In [5]:
#load the dataset
path = "H:\STPTUSDT-1m-2021-01.zip"
df = LoadDataset(path)
df

,opentime,open,high,low,close,vol,closetime,quotevol,n_trades,takerbuybasevol,takerbuyquotevol,ignore
time,,,,,,,,,,,,
2021-01-01 00:00:59.999000+00:00,1609459200000,0.01667,0.01667,0.01667,0.01667,0.0,1609459259999,0.00000,0,0.0,0.000000,0
2021-01-01 00:01:59.999000+00:00,1609459260000,0.01648,0.01648,0.01648,0.01648,2658.0,1609459319999,43.80384,2,187.1,3.083408,0
2021-01-01 00:02:59.999000+00:00,1609459320000,0.01648,0.01648,0.01648,0.01648,0.0,1609459379999,0.00000,0,0.0,0.000000,0
2021-01-01 00:03:59.999000+00:00,1609459380000,0.01659,0.01659,0.01659,0.01659,169.0,1609459439999,2.80371,1,169.0,2.803710,0
2021-01-01 00:04:59.999000+00:00,1609459440000,0.01659,0.01659,0.01659,0.01659,0.0,1609459499999,0.00000,0,0.0,0.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2021-01-31 23:55:59.999000+00:00,1612137300000,0.02158,0.02158,0.02158,0.02158,0.0,1612137359999,0.00000,0,0.0,0.000000,0
2021-01-31 23:56:59.999000+00:00,1612137360000,0.02158,0.02158,0.02158,0.02158,0.0,1612137419999,0.00000,0,0.0,0.000000,0
2021-01-31 23:57:59.999000+00:00,1612137420000,0.02159,0.02160,0.02159,0.02160,1205.0,1612137479999,26.01988,2,1205.0,26.019880,0
2021-01-31 23:58:59.999000+00:00,1612137480000,0.02160,0.02160,0.02160,0.02160,0.0,1612137539999,0.00000,0,0.0,0.000000,0
2021-01-31 23:59:59.999000+00:00,1612137540000,0.02160,0.02160,0.02160,0.02160,0.0,1612137599999,0.00000,0,0.0,0.000000,0