In [1]:
from functions.UtilsCreateDataFrame import *

In [5]:
createDataFrame(
    input_folder = "H:",
    date = "2021-01",
    tickers = ["BNB", "SOL"],
    n_job=4,
    to_save=False,
    parallel=True,
    output_name=None,
    output_folder=None,
    type_ = "trades"
)

                                BNB      SOL
time
2021-01-01 00:00:00+00:00  37.36805  1.50790
2021-01-01 00:01:00+00:00  37.38515  1.51815
2021-01-01 00:02:00+00:00  37.33795  1.51520
2021-01-01 00:03:00+00:00  37.28095  1.51440
2021-01-01 00:04:00+00:00  37.26500  1.51370
...                             ...      ...
2021-01-31 23:55:00+00:00  44.25135  4.27405
2021-01-31 23:56:00+00:00  44.23250  4.26250
2021-01-31 23:57:00+00:00  44.23785  4.26165
2021-01-31 23:58:00+00:00  44.25865  4.26100
2021-01-31 23:59:00+00:00  44.32345  4.25550

[44640 rows x 2 columns]

In [4]:
createUniqueDataFrame(
    list_dates = ["2021-01", "2021-02"],
    input_folder = "H:",
    tickers = ["ETH", "SOL"],
    n_job=4,
    to_save=False,
    output_name=None,
    output_folder=None,
    type_ = "trades"
)

                                ETH       SOL
time
2021-01-01 00:00:00+00:00   737.055   1.50790
2021-01-01 00:01:00+00:00   738.740   1.51815
2021-01-01 00:02:00+00:00   737.820   1.51520
2021-01-01 00:03:00+00:00   737.395   1.51440
2021-01-01 00:04:00+00:00   736.945   1.51370
...                             ...       ...
2021-02-28 23:55:00+00:00  1409.855  13.00890
2021-02-28 23:56:00+00:00  1412.765  13.00785
2021-02-28 23:57:00+00:00  1414.195  13.04120
2021-02-28 23:58:00+00:00  1413.590  13.07375
2021-02-28 23:59:00+00:00  1418.875  13.09120

[84960 rows x 2 columns]